/* Grey */
$darkestGrey: #3b302b;
$darkGrey: #161208;
$grey: #a19887;
$lightGrey: #ccc5b8;
$lightestGrey: #e7e2da;

/* Primary */
$darkestPrimaryColor: #662a14;
$darkPrimaryColor: #8c3a1d;
$primaryColor: #b14b25;
$lightPrimarycolor: #c87051;
$lightestPrimaryColor: #d29179;

// Opción 2 color primario
// $primaryColor: #497B2D

/* Accents */

// Error

// Warning

// Success