/* Grey */
$darkestGrey: hsl(20, 15, 20);
$darkGrey: hsl(40, 12, 43);
$grey: hsl(39, 12, 58);
$lightGrey: hsl(39, 16, 76);
$lightestGrey: hsl(39, 21, 88);

/* Primary */
$darkestPrimaryColor: #662a14;
$darkPrimaryColor: #8c3a1d;
$primaryColor: #b14b25;
$lightPrimarycolor: #c87051;
$lightestPrimaryColor: #d29179;

// Opción 2 color primario
// $primaryColor: #497B2D

/* Accents */

// Error

// Warning

// Success