:root {
	--space-unit: 1em;
	--space-xxs: calc(0.25 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));
    --space-page: calc(11.25 * var(--space-unit));

	/* components padding */
	--component-padding: var(--space-md);

	/* page padding */
	--page-padding-horizontal: var(--space-page);
	--page-padding-vertical: var(--space-lg);

	@media (max-width: $laptopBreakpoint) {
		--page-padding-horizontal: var(--space-xl);
		--page-padding-vertical: var(--space-lg);
	}

	@media (max-width: $mobileBreakpoint) {
		--page-padding-horizontal: var(--space-md);
		--page-padding-vertical: var(--space-lg);
	}
}

.margin-top,
.margin-top--md {
	margin-top: var(--space-md);
}

.margin-top--sm {
	margin-top: var(--space-sm);
}

.margin-top--lg {
	margin-top: var(--space-lg);
}

.margin-top--xl {
	margin-top: var(--space-xl);
}

.margin-top--xxl {
	margin-top: var(--space-xxl);
}

.margin-bottom--xs {
	margin-bottom: var(--space-xs);
}

.margin-bottom,
.margin-bottom--md {
	margin-bottom: var(--space-md);
}

.margin-bottom--sm {
	margin-bottom: var(--space-sm);
}

.margin-bottom--lg {
	margin-bottom: var(--space-lg);
}

.margin-bottom--xl {
	margin-bottom: var(--space-xl);
}

.margin-bottom--xxl {
	margin-bottom: var(--space-xxl);
}

.margin-left--xs {
	margin-left: var(--space-xs);
}

.margin-right--sm {
	margin-right: var(--space-sm);
}