:root {
	--font-primary: 'Satoshi', sans-serif;

	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Italic.woff2');
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Regular.woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Bold.woff2');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-BoldItalic.woff2');
		font-weight: bold;
		font-style: italic;
	}

	/* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

	/* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* line-height */
    --heading-line-height: 1.3;
    --body-line-height: 1.4;
    --dark-mode-body-line-height: 1.6;
}

body {
	font-family: var(--font-primary);
    font-size: var(--text-base-size);
    color: var(--text);
}

button {
	font-family: var(--font-primary);
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}

h1, .text--xxl {
    font-size: var(--text-xxl);
}

h2, .text--xl {
    font-size: var(--text-xl);
}

h3, .text--lg {
    font-size: var(--text-lg);
}

h4, .text--md {
    font-size: var(--text-md);
}

.text--sm, small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}

b, strong {
    font-weight: bold;
}

/* Dark mode */

.dark p {
    letter-spacing: 0.025rem;
    line-height: var(--dark-mode-body-line-height);
}

.success {
	color: var(--success);
}

.error {
	color: var(--error);
}