.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.interactive-pointer-opacity {
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.spacing {
    padding: $paddingMobile; 

    @media (min-width: $tabletBreakpoint) and (max-width: $laptopBreakpoint) {
        padding: 24px 80px;
    }
    
    @media (min-width: $laptopBreakpoint) {
        padding: 48px 320px;
    }
}

.rounded-img {
    border-radius: $borderRadius;
}