// Dimensions
$mobileBreakpoint: 481px;
$tabletBreakpoint: 960px;
$laptopBreakpoint: 1440px;

// Colors
$fgColor: #222222 !default;
$primaryColor: #405440;

// Spacing
$paddingMobile: 8px 32px;
$paddingLaptop: 24px 80px;
$paddingDesktop: 48px 160px;

// Cards
$borderRadius: 10px;