@import 'sass/variables';
@import 'sass/utilities';
@import 'sass/recipe-page';
@import 'sass/typography';
@import 'sass/colors';

:root {
	background-color: $grey300;
	color: $grey900;
}

body {
	margin: 0;
}

button {
	border: 0;

	&:not(:disabled) {
		cursor: pointer;
	}
}

a {
	color: $primaryColor;

	&:hover {
		color: $lightPrimaryColor;
		text-decoration: none;
		transition: color 0.2s ease;
	}
}

header {
	background-color: $grey300;
	opacity: 0.95;
	position: sticky;
	top: 0;
	z-index: 10;
}

footer {
	border-top: 1px solid $grey400;
	padding: 0 16px;
	background-color: $grey300;

	@media (min-width: $tabletBreakpoint) and (max-width: $laptopBreakpoint) {
		padding: 12px 80px;
	}

	@media (min-width: $laptopBreakpoint) {
		padding: 12px 160px;
	}
}

input {
	background-color: $grey100;
}

input[type='text'] {
	box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}

*:focus-visible {
	outline-color: $lightPrimaryColor;
	outline-style: solid;
	outline-width: medium;
}

::selection {
	background-color: $darkestPrimaryColor;
	color: $grey100;
}

input[type='checkbox'] {
	accent-color: $primaryColor;
}
