@import 'sass/variables';
@import 'sass/utilities';
@import 'sass/typography';
@import 'sass/colors';
@import 'sass/spacing';
@import 'sass/layout';

body {
	background-color: var(--body-bg);
	margin: 0;
}

main,
footer,
header {
	padding: 0 var(--page-padding-horizontal);
}

main,
footer {
	padding-top: var(--page-padding-vertical);
	padding-bottom: var(--page-padding-vertical);
}

button,
form.signOutButton button {
	border: 0;
	font-weight: bold;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		color: var(--btn-disabled-color);
	}
}

button.primary,
form.signOutButton button {
	background-color: var(--btn-primary-bg);
	box-shadow:
		inset 0 3px 0 var(--primary100),
		$shadow;

	&:not(:disabled) {
		color: var(--grey200);
	}

	&:disabled {
		box-shadow:
			inset 0 3px 0 var(--grey300),
			$smallShadow;
		background-color: var(--btn-primary-disabled-bg);
	}

	&:hover:enabled {
		background-color: var(--btn-primary-hover);
		transition: background-color 0.3s;
	}

	&:active:enabled {
		box-shadow: $smallestShadow;
	}
}

form.signOutButton button {
	background-color: var(--btn-primary-bg);
	box-shadow:
		inset 0 3px 0 var(--primary100),
		$shadow;
	color: var(--grey200);

	&:hover:enabled {
		background-color: var(--btn-primary-hover);
		transition: background-color 0.3s;
	}
}

a {
	color: var(--link);
	text-decoration: none;

	&:hover {
		color: var(--link-hover);
		transition: color 0.2s ease;
	}
}

header {
	background-color: var(--body-bg);
	opacity: 0.95;
	position: sticky;
	top: 0;
	z-index: 10;
}

footer {
	border-top: 1px solid var(--border);
	background-color: var(--body-bg);
}

input,
textarea {
	background-color: var(--input-bg);
}

::placeholder {
	color: var(--placeholder);
}

input[type='text'],
input[type='search'],
input[type='number'],
textarea {
	appearance: none;
	box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #cccccc;
	color: var(--text);
	padding: 6px 8px;
	-webkit-appearance: none;
}

input[type='number'] {
	padding: 6px;
	width: 48px;
}

*:focus-visible {
	outline-color: var(--outline);
	outline-style: solid;
	outline-width: medium;
}

::selection {
	background-color: var(--selection-bg);
	color: var(--selection-color);
}

input[type='checkbox'],
input[type='radio'] {
	accent-color: var(--accent-color);
}

fieldset {
	border-radius: 5px;
	border-color: var(--border);
}

form {
	> *:not(:last-child) {
		margin-bottom: var(--space-md);

		@media (max-width: $tabletBreakpoint) {
			margin-bottom: var(--space-lg);
		}
	}
}

/** Buttons **/
// TODO: Move to separate file
button {
	align-items: center;
	border: 0;
	border-radius: 7px;
	display: flex;
	justify-content: center;
}

.small,
form > button {
	// form for the google sign in button
	font-size: 1em;
	height: 32px;
	padding: 4px 12px;
}
