@import 'sass/variables';
@import 'sass/utilities';
@import 'sass/recipe-page';

:root {
	background-color: $bgColor;
	color: $fgColor;
}

body {
	margin: 0;
}

button {
	&:not(:disabled) {
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}
}

header {
	background-color: $bgColor;
	position: sticky;
	top: 0;
	z-index: 10;

	@media (max-width: $tabletBreakpoint) {
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	}
}

footer {
	border-top: 1px solid $fgColor;
}
